[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Scrapy = "*"
GeoAlchemy2 = "*"
pymongo = "*"
sqlalchemy = "*"
psycopg2 = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.7"
