altgraph==0.15
attrs==15.2.0
beautifulsoup4==4.4.1
chardet==2.3.0
Cheetah==2.4.4
configobj==5.0.6
cryptography==1.2.3
dis3==0.1.2
enum34==1.1.2
future==0.16.0
html5lib==0.999
idna==2.0
impacket==0.9.15
ipaddress==1.0.16
jsonpatch==1.10
jsonpointer==1.9
Landscape-Client==16.3+bzr834
lxml==3.5.0
M2Crypto==0.22.6rc4
macholib==1.9
ndg-httpsclient==0.4.0
oauth==1.0.1
PAM==0.4.2
pefile==2017.11.5
prettytable==0.7.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pycurl==7.43.0
PyInstaller==3.3.1
pyOpenSSL==0.15.1
pyserial==3.0.1
python-apt==1.1.0b1
python-debian==0.1.27
PyYAML==3.11
requests==2.9.1
service-identity==16.0.0
six==1.10.0
Twisted==16.0.0
urllib3==1.13.1
virtualenv==15.0.1
zope.interface==4.1.3
